<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <%- include('./partials/navbar'); %>
  </header>
  
  

  <div class="page-header text-center">
    <h1> <span class="fa fa-book"></span>My Memories</h1>
    
 

  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titles</th>
        <th scope="col">Date</th>
        <th scope="col">Options</th>
        <!-- <th scope="col">Casino Money</th>
        <th scope="col">Casino Total</th> -->
      </tr>
    </thead>
    <tbody>
      
      <% for(var i=0 ; i<messages.length; i++) {%>
     
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td><a href="/profile/<%= messages[i].fileName %>"><%= messages[i].title %></a></td>
          <td><%= messages[i].date %></td>
          <th><span ><i  class="fa fa-trash-o"></i></span><form action="/edit" method="get"><input name="title" type="hidden" value="<%= messages[i].title %>" ><button id="editbt" type="submit">Edit</button></form> </th>
        
      </tr> 
      <% } %>
    </tbody>
  </table>

 


  <script src="main.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</body>

</html>